{
  "openapi": "3.1.0",
  "info": {
    "title": "ReadyLayer API",
    "description": "API-as-a-Service platform for code review governance, policy management, and automated quality assurance. REST + WebSocket with local/cloud parity.",
    "version": "1.0.0",
    "contact": {
      "name": "ReadyLayer Support",
      "email": "support@readylayer.io"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://readylayer.io/api/v1",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Local Development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    { "name": "Authentication", "description": "User authentication and session management" },
    { "name": "Repositories", "description": "Repository management and configuration" },
    { "name": "Policies", "description": "Policy pack and rule management" },
    { "name": "Reviews", "description": "Code review operations and results" },
    { "name": "Waivers", "description": "Policy waiver management" },
    { "name": "Evidence", "description": "Evidence bundle access and export" },
    { "name": "Runs", "description": "Test run execution and management" },
    { "name": "Billing", "description": "Billing and subscription management" },
    { "name": "Analytics", "description": "Usage analytics and metrics" },
    { "name": "Health", "description": "Service health and readiness checks" }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "tags": ["Health"],
        "summary": "Health check",
        "description": "Returns service health status",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "operationId": "getReady",
        "tags": ["Health"],
        "summary": "Readiness check",
        "description": "Returns service readiness status including dependencies",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is ready",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReadyResponse" }
              }
            }
          },
          "503": {
            "description": "Service not ready",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    },
    "/repos": {
      "get": {
        "operationId": "listRepos",
        "tags": ["Repositories"],
        "summary": "List repositories",
        "description": "List all repositories accessible to the authenticated user (tenant-isolated)",
        "parameters": [
          { "$ref": "#/components/parameters/OrganizationIdQuery" },
          { "$ref": "#/components/parameters/PaginationLimit" },
          { "$ref": "#/components/parameters/PaginationOffset" }
        ],
        "responses": {
          "200": {
            "description": "List of repositories",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RepositoryListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "operationId": "createRepo",
        "tags": ["Repositories"],
        "summary": "Create repository",
        "description": "Create a new repository (tenant-isolated, billing-enforced)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateRepositoryRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Repository created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Repository" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/repos/{repoId}": {
      "get": {
        "operationId": "getRepo",
        "tags": ["Repositories"],
        "summary": "Get repository",
        "description": "Get a specific repository by ID",
        "parameters": [
          { "$ref": "#/components/parameters/RepoId" }
        ],
        "responses": {
          "200": {
            "description": "Repository details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Repository" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updateRepo",
        "tags": ["Repositories"],
        "summary": "Update repository",
        "description": "Update repository settings",
        "parameters": [
          { "$ref": "#/components/parameters/RepoId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateRepositoryRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Repository updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Repository" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteRepo",
        "tags": ["Repositories"],
        "summary": "Delete repository",
        "description": "Delete a repository and all associated data",
        "parameters": [
          { "$ref": "#/components/parameters/RepoId" }
        ],
        "responses": {
          "204": { "description": "Repository deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/repos/{repoId}/test-connection": {
      "post": {
        "operationId": "testRepoConnection",
        "tags": ["Repositories"],
        "summary": "Test repository connection",
        "description": "Test connectivity to the repository provider",
        "parameters": [
          { "$ref": "#/components/parameters/RepoId" }
        ],
        "responses": {
          "200": {
            "description": "Connection test result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TestConnectionResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/policies": {
      "get": {
        "operationId": "listPolicies",
        "tags": ["Policies"],
        "summary": "List policy packs",
        "description": "List all policy packs (tenant-isolated)",
        "parameters": [
          { "$ref": "#/components/parameters/OrganizationIdQuery" },
          { "$ref": "#/components/parameters/RepositoryIdQuery" },
          { "$ref": "#/components/parameters/PaginationLimit" },
          { "$ref": "#/components/parameters/PaginationOffset" }
        ],
        "responses": {
          "200": {
            "description": "List of policy packs",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyPackListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "operationId": "createPolicyPack",
        "tags": ["Policies"],
        "summary": "Create policy pack",
        "description": "Create a new policy pack (tenant-isolated)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePolicyPackRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Policy pack created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyPack" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/policies/{packId}": {
      "get": {
        "operationId": "getPolicyPack",
        "tags": ["Policies"],
        "summary": "Get policy pack",
        "description": "Get a specific policy pack by ID",
        "parameters": [
          { "$ref": "#/components/parameters/PolicyPackId" }
        ],
        "responses": {
          "200": {
            "description": "Policy pack details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyPack" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "put": {
        "operationId": "updatePolicyPack",
        "tags": ["Policies"],
        "summary": "Update policy pack",
        "description": "Update a policy pack",
        "parameters": [
          { "$ref": "#/components/parameters/PolicyPackId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdatePolicyPackRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy pack updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyPack" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deletePolicyPack",
        "tags": ["Policies"],
        "summary": "Delete policy pack",
        "description": "Delete a policy pack",
        "parameters": [
          { "$ref": "#/components/parameters/PolicyPackId" }
        ],
        "responses": {
          "204": { "description": "Policy pack deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/policies/{packId}/rules": {
      "get": {
        "operationId": "listPolicyRules",
        "tags": ["Policies"],
        "summary": "List policy rules",
        "description": "List all rules in a policy pack",
        "parameters": [
          { "$ref": "#/components/parameters/PolicyPackId" }
        ],
        "responses": {
          "200": {
            "description": "List of policy rules",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyRuleListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createPolicyRule",
        "tags": ["Policies"],
        "summary": "Add policy rule",
        "description": "Add a rule to a policy pack",
        "parameters": [
          { "$ref": "#/components/parameters/PolicyPackId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePolicyRuleRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Policy rule created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyRule" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/policies/{packId}/rules/{ruleId}": {
      "put": {
        "operationId": "updatePolicyRule",
        "tags": ["Policies"],
        "summary": "Update policy rule",
        "description": "Update a rule in a policy pack",
        "parameters": [
          { "$ref": "#/components/parameters/PolicyPackId" },
          { "$ref": "#/components/parameters/PolicyRuleId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdatePolicyRuleRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy rule updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyRule" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deletePolicyRule",
        "tags": ["Policies"],
        "summary": "Delete policy rule",
        "description": "Delete a rule from a policy pack",
        "parameters": [
          { "$ref": "#/components/parameters/PolicyPackId" },
          { "$ref": "#/components/parameters/PolicyRuleId" }
        ],
        "responses": {
          "204": { "description": "Policy rule deleted" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/policies/validate": {
      "post": {
        "operationId": "validatePolicy",
        "tags": ["Policies"],
        "summary": "Validate policy syntax",
        "description": "Validate policy YAML/JSON syntax and configuration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ValidatePolicyRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyValidationResult" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/policies/templates": {
      "get": {
        "operationId": "listPolicyTemplates",
        "tags": ["Policies"],
        "summary": "List policy templates",
        "description": "List available policy templates",
        "responses": {
          "200": {
            "description": "List of policy templates",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyTemplateListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/reviews": {
      "get": {
        "operationId": "listReviews",
        "tags": ["Reviews"],
        "summary": "List reviews",
        "description": "List all reviews (tenant-isolated)",
        "parameters": [
          { "$ref": "#/components/parameters/RepositoryIdQuery" },
          { "$ref": "#/components/parameters/PrNumberQuery" },
          { "$ref": "#/components/parameters/PaginationLimit" },
          { "$ref": "#/components/parameters/PaginationOffset" },
          { "$ref": "#/components/parameters/FieldsSelect" }
        ],
        "responses": {
          "200": {
            "description": "List of reviews",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReviewListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "operationId": "createReview",
        "tags": ["Reviews"],
        "summary": "Create review",
        "description": "Create a new code review (tenant-isolated, billing-enforced)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateReviewRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Review created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Review" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/reviews/{reviewId}": {
      "get": {
        "operationId": "getReview",
        "tags": ["Reviews"],
        "summary": "Get review",
        "description": "Get a specific review by ID",
        "parameters": [
          { "$ref": "#/components/parameters/ReviewId" }
        ],
        "responses": {
          "200": {
            "description": "Review details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Review" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/waivers": {
      "get": {
        "operationId": "listWaivers",
        "tags": ["Waivers"],
        "summary": "List waivers",
        "description": "List all waivers (tenant-isolated)",
        "parameters": [
          { "$ref": "#/components/parameters/OrganizationIdQuery" },
          { "$ref": "#/components/parameters/RepositoryIdQuery" },
          { "$ref": "#/components/parameters/PaginationLimit" },
          { "$ref": "#/components/parameters/PaginationOffset" }
        ],
        "responses": {
          "200": {
            "description": "List of waivers",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WaiverListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "operationId": "createWaiver",
        "tags": ["Waivers"],
        "summary": "Create waiver",
        "description": "Create a new waiver (tenant-isolated)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateWaiverRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Waiver created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Waiver" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/waivers/{waiverId}": {
      "get": {
        "operationId": "getWaiver",
        "tags": ["Waivers"],
        "summary": "Get waiver",
        "description": "Get a specific waiver by ID",
        "parameters": [
          { "$ref": "#/components/parameters/WaiverId" }
        ],
        "responses": {
          "200": {
            "description": "Waiver details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Waiver" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "operationId": "deleteWaiver",
        "tags": ["Waivers"],
        "summary": "Revoke waiver",
        "description": "Revoke (delete) a waiver",
        "parameters": [
          { "$ref": "#/components/parameters/WaiverId" }
        ],
        "responses": {
          "204": { "description": "Waiver revoked" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/evidence": {
      "get": {
        "operationId": "listEvidence",
        "tags": ["Evidence"],
        "summary": "List evidence bundles",
        "description": "List all evidence bundles (tenant-isolated)",
        "parameters": [
          { "$ref": "#/components/parameters/ReviewIdQuery" },
          { "$ref": "#/components/parameters/PaginationLimit" },
          { "$ref": "#/components/parameters/PaginationOffset" }
        ],
        "responses": {
          "200": {
            "description": "List of evidence bundles",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EvidenceListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/evidence/{bundleId}": {
      "get": {
        "operationId": "getEvidence",
        "tags": ["Evidence"],
        "summary": "Get evidence bundle",
        "description": "Get a specific evidence bundle by ID",
        "parameters": [
          { "$ref": "#/components/parameters/BundleId" }
        ],
        "responses": {
          "200": {
            "description": "Evidence bundle",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EvidenceBundle" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/evidence/{bundleId}/export": {
      "get": {
        "operationId": "exportEvidence",
        "tags": ["Evidence"],
        "summary": "Export evidence",
        "description": "Export evidence bundle as JSON",
        "parameters": [
          { "$ref": "#/components/parameters/BundleId" }
        ],
        "responses": {
          "200": {
            "description": "Exported evidence JSON",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/runs": {
      "get": {
        "operationId": "listRuns",
        "tags": ["Runs"],
        "summary": "List test runs",
        "description": "List all test runs (tenant-isolated)",
        "parameters": [
          { "$ref": "#/components/parameters/RepositoryIdQuery" },
          { "$ref": "#/components/parameters/PaginationLimit" },
          { "$ref": "#/components/parameters/PaginationOffset" }
        ],
        "responses": {
          "200": {
            "description": "List of test runs",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RunListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      },
      "post": {
        "operationId": "createRun",
        "tags": ["Runs"],
        "summary": "Create test run",
        "description": "Create a new test run (tenant-isolated, billing-enforced)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateRunRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Run created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Run" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/runs/{runId}": {
      "get": {
        "operationId": "getRun",
        "tags": ["Runs"],
        "summary": "Get test run",
        "description": "Get a specific test run by ID",
        "parameters": [
          { "$ref": "#/components/parameters/RunId" }
        ],
        "responses": {
          "200": {
            "description": "Test run details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Run" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/runs/sandbox": {
      "post": {
        "operationId": "createSandboxRun",
        "tags": ["Runs"],
        "summary": "Create sandbox run",
        "description": "Create a new sandbox test run (tenant-isolated, billing-enforced)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateSandboxRunRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sandbox run created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Run" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "402": { "$ref": "#/components/responses/PaymentRequired" }
        }
      }
    },
    "/billing/tier": {
      "get": {
        "operationId": "getBillingTier",
        "tags": ["Billing"],
        "summary": "Get billing tier",
        "description": "Get current billing tier and usage",
        "parameters": [
          { "$ref": "#/components/parameters/OrganizationIdQuery" }
        ],
        "responses": {
          "200": {
            "description": "Billing tier information",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BillingTierResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/billing/checkout": {
      "post": {
        "operationId": "createCheckoutSession",
        "tags": ["Billing"],
        "summary": "Create checkout session",
        "description": "Create a Stripe checkout session for subscription",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateCheckoutRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CheckoutSessionResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/metrics": {
      "get": {
        "operationId": "getMetrics",
        "tags": ["Analytics"],
        "summary": "Get metrics",
        "description": "Get usage metrics for the organization",
        "parameters": [
          { "$ref": "#/components/parameters/OrganizationIdQuery" },
          { "$ref": "#/components/parameters/MetricsStartDate" },
          { "$ref": "#/components/parameters/MetricsEndDate" }
        ],
        "responses": {
          "200": {
            "description": "Metrics data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MetricsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" }
        }
      }
    },
    "/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "tags": ["Authentication"],
        "summary": "List API keys",
        "description": "List all API keys for the user",
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiKeyListResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "tags": ["Authentication"],
        "summary": "Create API key",
        "description": "Create a new API key",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateApiKeyRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiKey" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api-keys/{keyId}": {
      "delete": {
        "operationId": "deleteApiKey",
        "tags": ["Authentication"],
        "summary": "Revoke API key",
        "description": "Revoke (delete) an API key",
        "parameters": [
          { "$ref": "#/components/parameters/KeyId" }
        ],
        "responses": {
          "204": { "description": "API key revoked" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT token or API key"
      }
    },
    "parameters": {
      "OrganizationIdQuery": {
        "name": "organizationId",
        "in": "query",
        "description": "Filter by organization ID",
        "schema": { "type": "string" }
      },
      "RepositoryIdQuery": {
        "name": "repositoryId",
        "in": "query",
        "description": "Filter by repository ID",
        "schema": { "type": "string" }
      },
      "ReviewIdQuery": {
        "name": "reviewId",
        "in": "query",
        "description": "Filter by review ID",
        "schema": { "type": "string" }
      },
      "PrNumberQuery": {
        "name": "prNumber",
        "in": "query",
        "description": "Filter by PR number",
        "schema": { "type": "integer" }
      },
      "PaginationLimit": {
        "name": "limit",
        "in": "query",
        "description": "Number of results to return (default: 20, max: 100)",
        "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 }
      },
      "PaginationOffset": {
        "name": "offset",
        "in": "query",
        "description": "Number of results to skip",
        "schema": { "type": "integer", "default": 0, "minimum": 0 }
      },
      "FieldsSelect": {
        "name": "select",
        "in": "query",
        "description": "Comma-separated list of fields to return (field selection)",
        "schema": { "type": "string" }
      },
      "RepoId": {
        "name": "repoId",
        "in": "path",
        "required": true,
        "description": "Repository ID",
        "schema": { "type": "string" }
      },
      "PolicyPackId": {
        "name": "packId",
        "in": "path",
        "required": true,
        "description": "Policy Pack ID",
        "schema": { "type": "string" }
      },
      "PolicyRuleId": {
        "name": "ruleId",
        "in": "path",
        "required": true,
        "description": "Policy Rule ID",
        "schema": { "type": "string" }
      },
      "ReviewId": {
        "name": "reviewId",
        "in": "path",
        "required": true,
        "description": "Review ID",
        "schema": { "type": "string" }
      },
      "WaiverId": {
        "name": "waiverId",
        "in": "path",
        "required": true,
        "description": "Waiver ID",
        "schema": { "type": "string" }
      },
      "BundleId": {
        "name": "bundleId",
        "in": "path",
        "required": true,
        "description": "Evidence Bundle ID",
        "schema": { "type": "string" }
      },
      "RunId": {
        "name": "runId",
        "in": "path",
        "required": true,
        "description": "Run ID",
        "schema": { "type": "string" }
      },
      "KeyId": {
        "name": "keyId",
        "in": "path",
        "required": true,
        "description": "API Key ID",
        "schema": { "type": "string" }
      },
      "MetricsStartDate": {
        "name": "startDate",
        "in": "query",
        "description": "Metrics start date (ISO 8601)",
        "schema": { "type": "string", "format": "date-time" }
      },
      "MetricsEndDate": {
        "name": "endDate",
        "in": "query",
        "description": "Metrics end date (ISO 8601)",
        "schema": { "type": "string", "format": "date-time" }
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "required": ["status", "timestamp"],
        "properties": {
          "status": { "type": "string", "enum": ["healthy", "unhealthy"] },
          "timestamp": { "type": "string", "format": "date-time" },
          "version": { "type": "string" }
        }
      },
      "ReadyResponse": {
        "type": "object",
        "required": ["ready", "dependencies"],
        "properties": {
          "ready": { "type": "boolean" },
          "dependencies": {
            "type": "object",
            "properties": {
              "database": { "type": "boolean" },
              "redis": { "type": "boolean" },
              "stripe": { "type": "boolean" }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "context": { "type": "object", "additionalProperties": true },
              "details": { "type": "object" },
              "errors": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "path": { "type": "array", "items": { "oneOf": [{ "type": "string" }, { "type": "integer" }] } },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "required": ["total", "limit", "offset", "hasMore"],
        "properties": {
          "total": { "type": "integer" },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "hasMore": { "type": "boolean" }
        }
      },
      "Organization": {
        "type": "object",
        "required": ["id", "name", "slug"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "Repository": {
        "type": "object",
        "required": ["id", "name", "fullName", "provider", "enabled", "createdAt", "updatedAt"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "fullName": { "type": "string" },
          "provider": { "type": "string", "enum": ["github", "gitlab", "bitbucket"] },
          "url": { "type": "string", "format": "uri" },
          "enabled": { "type": "boolean" },
          "organization": { "$ref": "#/components/schemas/Organization" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateRepositoryRequest": {
        "type": "object",
        "required": ["organizationId", "name", "fullName", "provider"],
        "properties": {
          "organizationId": { "type": "string" },
          "name": { "type": "string" },
          "fullName": { "type": "string" },
          "provider": { "type": "string", "enum": ["github", "gitlab", "bitbucket"] },
          "providerId": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "defaultBranch": { "type": "string" }
        }
      },
      "UpdateRepositoryRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "enabled": { "type": "boolean" },
          "defaultBranch": { "type": "string" }
        }
      },
      "RepositoryListResponse": {
        "type": "object",
        "required": ["repositories", "pagination"],
        "properties": {
          "repositories": { "type": "array", "items": { "$ref": "#/components/schemas/Repository" } },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "TestConnectionResponse": {
        "type": "object",
        "required": ["success", "message"],
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" },
          "details": { "type": "object" }
        }
      },
      "PolicyRule": {
        "type": "object",
        "required": ["id", "ruleId", "enabled", "severityMapping"],
        "properties": {
          "id": { "type": "string" },
          "ruleId": { "type": "string" },
          "enabled": { "type": "boolean" },
          "severityMapping": { "type": "object", "additionalProperties": { "type": "string", "enum": ["block", "warn", "allow"] } },
          "params": { "type": "object" }
        }
      },
      "PolicyPack": {
        "type": "object",
        "required": ["id", "organizationId", "version", "checksum", "rules", "createdAt", "updatedAt"],
        "properties": {
          "id": { "type": "string" },
          "organizationId": { "type": "string" },
          "repositoryId": { "type": "string", "nullable": true },
          "version": { "type": "string", "pattern": "^\\d+\\.\\d+\\.\\d+$" },
          "checksum": { "type": "string" },
          "rules": { "type": "array", "items": { "$ref": "#/components/schemas/PolicyRule" } },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreatePolicyPackRequest": {
        "type": "object",
        "required": ["organizationId", "version", "source"],
        "properties": {
          "organizationId": { "type": "string" },
          "repositoryId": { "type": "string", "nullable": true },
          "version": { "type": "string", "pattern": "^\\d+\\.\\d+\\.\\d+$" },
          "source": { "type": "string" },
          "rules": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ruleId": { "type": "string" },
                "severityMapping": { "type": "object", "additionalProperties": { "type": "string", "enum": ["block", "warn", "allow"] } },
                "enabled": { "type": "boolean", "default": true },
                "params": { "type": "object" }
              }
            }
          }
        }
      },
      "UpdatePolicyPackRequest": {
        "type": "object",
        "properties": {
          "version": { "type": "string", "pattern": "^\\d+\\.\\d+\\.\\d+$" },
          "source": { "type": "string" },
          "rules": { "type": "array", "items": { "$ref": "#/components/schemas/PolicyRule" } }
        }
      },
      "PolicyPackListResponse": {
        "type": "object",
        "required": ["policies", "pagination"],
        "properties": {
          "policies": { "type": "array", "items": { "$ref": "#/components/schemas/PolicyPack" } },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "CreatePolicyRuleRequest": {
        "type": "object",
        "required": ["ruleId", "severityMapping"],
        "properties": {
          "ruleId": { "type": "string" },
          "severityMapping": { "type": "object", "additionalProperties": { "type": "string", "enum": ["block", "warn", "allow"] } },
          "enabled": { "type": "boolean", "default": true },
          "params": { "type": "object" }
        }
      },
      "UpdatePolicyRuleRequest": {
        "type": "object",
        "properties": {
          "severityMapping": { "type": "object", "additionalProperties": { "type": "string", "enum": ["block", "warn", "allow"] } },
          "enabled": { "type": "boolean" },
          "params": { "type": "object" }
        }
      },
      "PolicyRuleListResponse": {
        "type": "object",
        "required": ["rules"],
        "properties": {
          "rules": { "type": "array", "items": { "$ref": "#/components/schemas/PolicyRule" } }
        }
      },
      "ValidatePolicyRequest": {
        "type": "object",
        "required": ["source"],
        "properties": {
          "source": { "type": "string", "description": "Policy YAML or JSON source" }
        }
      },
      "PolicyValidationResult": {
        "type": "object",
        "required": ["valid", "message"],
        "properties": {
          "valid": { "type": "boolean" },
          "message": { "type": "string" },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "ruleId": { "type": "string" },
                "error": { "type": "string" }
              }
            }
          },
          "warnings": { "type": "array", "items": { "type": "string" } }
        }
      },
      "PolicyTemplate": {
        "type": "object",
        "required": ["id", "name", "version", "rules"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "version": { "type": "string" },
          "rules": { "type": "array", "items": { "$ref": "#/components/schemas/PolicyRule" } }
        }
      },
      "PolicyTemplateListResponse": {
        "type": "object",
        "required": ["templates"],
        "properties": {
          "templates": { "type": "array", "items": { "$ref": "#/components/schemas/PolicyTemplate" } }
        }
      },
      "Finding": {
        "type": "object",
        "required": ["id", "ruleId", "title", "description", "severity", "status", "createdAt", "updatedAt"],
        "properties": {
          "id": { "type": "string" },
          "ruleId": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "severity": { "type": "string", "enum": ["critical", "high", "medium", "low", "info"] },
          "status": { "type": "string", "enum": ["open", "acknowledged", "resolved", "ignored"] },
          "file": { "type": "string" },
          "line": { "type": "integer" },
          "confidence": { "type": "number", "minimum": 0, "maximum": 1 },
          "detectedBy": { "type": "string", "enum": ["ai", "human", "policy"] },
          "remediation": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "modelId": { "type": "string" },
          "modelEpoch": { "type": "string" },
          "variance_score": { "type": "number", "minimum": 0, "maximum": 1 },
          "metadata": { "type": "object" }
        }
      },
      "ReviewSummary": {
        "type": "object",
        "required": ["total", "critical", "high", "medium", "low"],
        "properties": {
          "total": { "type": "integer" },
          "critical": { "type": "integer" },
          "high": { "type": "integer" },
          "medium": { "type": "integer" },
          "low": { "type": "integer" }
        }
      },
      "Review": {
        "type": "object",
        "required": ["id", "repositoryId", "prNumber", "prSha", "status", "isBlocked", "summary", "createdAt"],
        "properties": {
          "id": { "type": "string" },
          "repositoryId": { "type": "string" },
          "prNumber": { "type": "integer" },
          "prSha": { "type": "string" },
          "prTitle": { "type": "string" },
          "status": { "type": "string", "enum": ["pending", "running", "completed", "failed", "cancelled"] },
          "isBlocked": { "type": "boolean" },
          "blockedReason": { "type": "string" },
          "result": { "type": "object" },
          "issuesFound": { "type": "integer" },
          "summary": { "$ref": "#/components/schemas/ReviewSummary" },
          "startedAt": { "type": "string", "format": "date-time" },
          "completedAt": { "type": "string", "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "repository": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "name": { "type": "string" },
              "fullName": { "type": "string" },
              "organizationId": { "type": "string" }
            }
          }
        }
      },
      "CreateReviewRequest": {
        "type": "object",
        "required": ["repositoryId", "prNumber", "prSha", "files"],
        "properties": {
          "repositoryId": { "type": "string" },
          "prNumber": { "oneOf": [{ "type": "integer" }, { "type": "string" }] },
          "prSha": { "type": "string" },
          "prTitle": { "type": "string" },
          "diff": { "type": "string" },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["path", "content"],
              "properties": {
                "path": { "type": "string" },
                "content": { "type": "string" },
                "beforeContent": { "type": "string", "nullable": true }
              }
            }
          },
          "config": {
            "type": "object",
            "properties": {
              "failOnCritical": { "type": "boolean" },
              "failOnHigh": { "type": "boolean" },
              "failOnMedium": { "type": "boolean" },
              "failOnLow": { "type": "boolean" },
              "enabledRules": { "type": "array", "items": { "type": "string" } },
              "disabledRules": { "type": "array", "items": { "type": "string" } },
              "excludedPaths": { "type": "array", "items": { "type": "string" } }
            }
          }
        }
      },
      "ReviewListResponse": {
        "type": "object",
        "required": ["data", "pagination"],
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Review" } },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "Waiver": {
        "type": "object",
        "required": ["id", "organizationId", "ruleId", "reason", "expiresAt", "createdAt"],
        "properties": {
          "id": { "type": "string" },
          "organizationId": { "type": "string" },
          "repositoryId": { "type": "string" },
          "ruleId": { "type": "string" },
          "reason": { "type": "string" },
          "expiresAt": { "type": "string", "format": "date-time" },
          "createdBy": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateWaiverRequest": {
        "type": "object",
        "required": ["organizationId", "ruleId", "reason", "expiresAt"],
        "properties": {
          "organizationId": { "type": "string" },
          "repositoryId": { "type": "string" },
          "ruleId": { "type": "string" },
          "reason": { "type": "string" },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "WaiverListResponse": {
        "type": "object",
        "required": ["waivers", "pagination"],
        "properties": {
          "waivers": { "type": "array", "items": { "$ref": "#/components/schemas/Waiver" } },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "EvidenceBundle": {
        "type": "object",
        "required": ["id", "reviewId", "findings", "createdAt"],
        "properties": {
          "id": { "type": "string" },
          "reviewId": { "type": "string" },
          "findings": { "type": "array", "items": { "$ref": "#/components/schemas/Finding" } },
          "metadata": { "type": "object" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "EvidenceListResponse": {
        "type": "object",
        "required": ["bundles", "pagination"],
        "properties": {
          "bundles": { "type": "array", "items": { "$ref": "#/components/schemas/EvidenceBundle" } },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "RunStatus": {
        "type": "string",
        "enum": ["pending", "running", "completed", "failed", "cancelled"]
      },
      "RunConclusion": {
        "type": "string",
        "enum": ["success", "failure", "partial_success", "cancelled"]
      },
      "Run": {
        "type": "object",
        "required": ["id", "correlationId", "status", "reviewGuardStatus", "testEngineStatus", "docSyncStatus", "startedAt"],
        "properties": {
          "id": { "type": "string" },
          "correlationId": { "type": "string" },
          "status": { "$ref": "#/components/schemas/RunStatus" },
          "conclusion": { "$ref": "#/components/schemas/RunConclusion" },
          "reviewGuardStatus": { "type": "string", "enum": ["pending", "running", "succeeded", "failed", "skipped"] },
          "testEngineStatus": { "type": "string", "enum": ["pending", "running", "succeeded", "failed", "skipped"] },
          "docSyncStatus": { "type": "string", "enum": ["pending", "running", "succeeded", "failed", "skipped"] },
          "reviewGuardResult": {
            "type": "object",
            "properties": {
              "reviewId": { "type": "string" },
              "issuesFound": { "type": "integer" },
              "isBlocked": { "type": "boolean" },
              "summary": { "$ref": "#/components/schemas/ReviewSummary" }
            }
          },
          "testEngineResult": {
            "type": "object",
            "properties": {
              "testsGenerated": { "type": "integer" },
              "coverage": {
                "type": "object",
                "properties": {
                  "lines": { "type": "number" },
                  "branches": { "type": "number" },
                  "functions": { "type": "number" }
                }
              },
              "meetsThreshold": { "type": "boolean" }
            }
          },
          "docSyncResult": {
            "type": "object",
            "properties": {
              "docId": { "type": "string" },
              "driftDetected": { "type": "boolean" },
              "missingEndpoints": { "type": "integer" },
              "changedEndpoints": { "type": "integer" }
            }
          },
          "aiTouchedDetected": { "type": "boolean" },
          "aiTouchedFiles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "path": { "type": "string" },
                "confidence": { "type": "number" },
                "methods": { "type": "array", "items": { "type": "string" } }
              }
            }
          },
          "gatesPassed": { "type": "boolean" },
          "gatesFailed": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "gate": { "type": "string" },
                "reason": { "type": "string" }
              }
            }
          },
          "startedAt": { "type": "string", "format": "date-time" },
          "completedAt": { "type": "string", "format": "date-time" },
          "reviewGuardStartedAt": { "type": "string", "format": "date-time" },
          "reviewGuardCompletedAt": { "type": "string", "format": "date-time" },
          "testEngineStartedAt": { "type": "string", "format": "date-time" },
          "testEngineCompletedAt": { "type": "string", "format": "date-time" },
          "docSyncStartedAt": { "type": "string", "format": "date-time" },
          "docSyncCompletedAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateRunRequest": {
        "type": "object",
        "required": ["trigger"],
        "properties": {
          "repositoryId": { "type": "string" },
          "sandboxId": { "type": "string" },
          "trigger": { "type": "string", "enum": ["webhook", "manual", "sandbox"] },
          "triggerMetadata": {
            "type": "object",
            "properties": {
              "prNumber": { "type": "integer" },
              "prSha": { "type": "string" },
              "prTitle": { "type": "string" },
              "prBody": { "type": "string" },
              "diff": { "type": "string" },
              "files": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "path": { "type": "string" },
                    "content": { "type": "string" },
                    "beforeContent": { "type": "string", "nullable": true }
                  }
                }
              },
              "userId": { "type": "string" }
            }
          },
          "config": {
            "type": "object",
            "properties": {
              "skipReviewGuard": { "type": "boolean" },
              "skipTestEngine": { "type": "boolean" },
              "skipDocSync": { "type": "boolean" }
            }
          }
        }
      },
      "CreateSandboxRunRequest": {
        "type": "object",
        "required": ["sandboxId", "files"],
        "properties": {
          "sandboxId": { "type": "string" },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["path", "content"],
              "properties": {
                "path": { "type": "string" },
                "content": { "type": "string" },
                "beforeContent": { "type": "string", "nullable": true }
              }
            }
          },
          "config": {
            "type": "object",
            "properties": {
              "skipReviewGuard": { "type": "boolean" },
              "skipTestEngine": { "type": "boolean" },
              "skipDocSync": { "type": "boolean" }
            }
          }
        }
      },
      "RunListResponse": {
        "type": "object",
        "required": ["data", "pagination"],
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/Run" } },
          "pagination": { "$ref": "#/components/schemas/Pagination" }
        }
      },
      "BillingTier": {
        "type": "object",
        "required": ["tier", "name"],
        "properties": {
          "tier": { "type": "string", "enum": ["free", "starter", "pro", "enterprise"] },
          "name": { "type": "string" },
          "features": { "type": "array", "items": { "type": "string" } },
          "limits": {
            "type": "object",
            "properties": {
              "repositories": { "type": "integer" },
              "reviewsPerMonth": { "type": "integer" },
              "teamMembers": { "type": "integer" }
            }
          }
        }
      },
      "BillingTierResponse": {
        "type": "object",
        "required": ["tier", "usage"],
        "properties": {
          "tier": { "$ref": "#/components/schemas/BillingTier" },
          "usage": {
            "type": "object",
            "properties": {
              "repositories": { "type": "integer" },
              "reviewsThisMonth": { "type": "integer" },
              "llmBudgetUsed": { "type": "number" },
              "llmBudgetTotal": { "type": "number" }
            }
          }
        }
      },
      "CreateCheckoutRequest": {
        "type": "object",
        "required": ["tier", "successUrl", "cancelUrl"],
        "properties": {
          "tier": { "type": "string", "enum": ["starter", "pro", "enterprise"] },
          "successUrl": { "type": "string", "format": "uri" },
          "cancelUrl": { "type": "string", "format": "uri" }
        }
      },
      "CheckoutSessionResponse": {
        "type": "object",
        "required": ["sessionId", "url"],
        "properties": {
          "sessionId": { "type": "string" },
          "url": { "type": "string", "format": "uri" }
        }
      },
      "MetricDataPoint": {
        "type": "object",
        "required": ["timestamp", "value"],
        "properties": {
          "timestamp": { "type": "string", "format": "date-time" },
          "value": { "type": "number" }
        }
      },
      "MetricsResponse": {
        "type": "object",
        "required": ["metrics"],
        "properties": {
          "metrics": {
            "type": "object",
            "properties": {
              "reviews": { "type": "array", "items": { "$ref": "#/components/schemas/MetricDataPoint" } },
              "findings": { "type": "array", "items": { "$ref": "#/components/schemas/MetricDataPoint" } },
              "gatesPassed": { "type": "array", "items": { "$ref": "#/components/schemas/MetricDataPoint" } },
              "gatesFailed": { "type": "array", "items": { "$ref": "#/components/schemas/MetricDataPoint" } }
            }
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "required": ["id", "name", "scopes", "createdAt"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "keyPreview": { "type": "string" },
          "scopes": { "type": "array", "items": { "type": "string", "enum": ["read", "write", "admin"] } },
          "expiresAt": { "type": "string", "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" },
          "lastUsedAt": { "type": "string", "format": "date-time" }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "required": ["name", "scopes"],
        "properties": {
          "name": { "type": "string" },
          "scopes": { "type": "array", "items": { "type": "string", "enum": ["read", "write", "admin"] } },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      },
      "ApiKeyListResponse": {
        "type": "object",
        "required": ["keys"],
        "properties": {
          "keys": { "type": "array", "items": { "$ref": "#/components/schemas/ApiKey" } }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request - Validation error",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Invalid or missing token",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - Insufficient permissions",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "NotFound": {
        "description": "Not Found - Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "PaymentRequired": {
        "description": "Payment Required - Billing limit exceeded",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      }
    }
  }
}
